.section{
    background: white;
    height: calc(100vh - 93px);

}
.container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}
.h1{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 3px;
}
